@inherits LayoutComponentBase
<div class="app-shell">
    <header class="app-header">
        <a class="app-brand" href="/">Wiccapedia Grimoire</a>
        <LoginDisplay />
    </header>

    <main class="app-content">
        @Body
    </main>
</div>
